@model Ravenous.Models.ownerRestaurant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ownerRestaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.restaurantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restaurantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.restaurantPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restaurantPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isAvailableForOccasion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAvailableForOccasion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isAvailableForKids)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAvailableForKids)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city1.cityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city1.cityName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
