@model IEnumerable<Ravenous.Models.meal>
@{
    ViewBag.Title = "قـائـمـة الـوجـبـات - صـاحـب الـمـطـعـم";
}

<style>
    th {
        text-align: center;
    }
    .myDiv {
        height: 200px;
    }
</style>


<h2>جـمـيـع الـوجـبـات</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("CreateMeal","Home")">
        <span>إضـافـة وجـبـة</span>
        <i class="fas fa-plus"></i>
    </a>
</p>




<div class="row">

        @foreach (var item in Model)
        {
            <a href="@Url.Action("UserMealsMenu", "Home", new { restaurantId = item.Id })" class="col-sm-6 col-md-2">
                <div class="thumbnail">
                    <div class="myDiv">
                        <img src="@Url.Content(item.meal_images.First().mealImage)" alt="..." style="width:100%;height:100%;">
                    </div>
                    <div class="caption">
                        <h3>@item.mealName</h3>
                        <p><img src="~/Content/images/email.png" height="20" /> @item.mealPrice</p>
                        <p><img src="~/Content/images/smartphone.png" height="20" /> @item.mealCategory.type</p>
                        <p><img src="~/Content/images/email.png" height="20" /> @item.available</p>
                        
                    </div>
                </div>
            </a>
        }
</div>


















<div class="jumbotron" style="width:100%;">



    <table class="table" style="text-align:center;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mealName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mealPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mealCategory.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.meal_images)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.available)
            </th>
            <th>الـحـركـات</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.mealName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mealPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mealCategory.type)
                </td>
                <td>

                    @foreach (var image in item.meal_images)
                    {
                        <img src="@Url.Content(image.mealImage)" alt="..." height="50">
                    }

                </td>
                <td>
                    @if (item.available == true)
                    {
                        <h4><span class="label label-info">مـتـاح</span></h4>
                    }
                    else
                    {
                        <h4><span class="label label-danger">غـيـر مـتـاح</span></h4>
                    }
                </td>
                <td>
                    <a class="btn btn-success" href="@Url.Action("EditMeal","Home",new {  restaurantId=item.restaurantId,Id=item.Id  })">
                        <span>تـعـديـل</span>
                        <i class="fas fa-edit"></i>

                    </a>
                </td>
            </tr>
        }

    </table>
</div>

<div>
    <a href="/Home/RestaurantPage" class="btn btn-warning">
        <span>خــلــف</span>
        <i class="far fa-hand-point-left"></i>
    </a>
</div>


