@model IEnumerable<Ravenous.Models.meal>
@{
    ViewBag.Title = "قـائـمـة الـوجـبـات - صـاحـب الـمـطـعـم";
}

<style>
    th {
        text-align: center;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        vertical-align: unset;
    }

</style>


<h2>جـمـيـع الـوجـبـات</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("CreateMeal","Home")">
        <span>إضـافـة وجـبـة</span>
        <i class="fas fa-plus"></i>
    </a>
</p>


<div class="jumbotron" style="width:100%;">



    <table class="table" style="text-align:center;">
        <tr style="background-color: #131837; color:white;">
            <th style="padding-top:15px;padding-bottom:15px;">
                @Html.DisplayNameFor(model => model.mealName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mealPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mealCategory.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mealImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.available)
            </th>
            <th>الـحـركـات</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.mealName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mealPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mealCategory.type)
                </td>
                <td>
                    <img src="@Url.Content(item.mealImage)" alt="..." height="50">
                </td>
                <td>
                    @if (item.available == true)
                    {
                        <h4><span class="label label-info">مـتـاح</span></h4>
                    }
                    else
                    {
                        <h4><span class="label label-danger">غـيـر مـتـاح</span></h4>
                    }
                </td>
                <td>
                    <a class="btn btn-success" href="@Url.Action("EditMeal","Home",new {  restaurantId=item.restaurantId,Id=item.Id  })">
                        <span>تـعـديـل</span>
                        <i class="fas fa-edit"></i>

                    </a>
                </td>
            </tr>
        }

    </table>
</div>

<div>
    <a href="/Home/RestaurantPage" class="btn btn-warning">
        <span>خــلــف</span>
        <i class="far fa-hand-point-left"></i>
    </a>
</div>