@model IEnumerable<Ravenous.Models.meal>
@{
    ViewBag.Title = "قـائـمـة الـوجـبـات - صـاحـب الـمـطـعـم";
}

<style>
    th {
        text-align: center;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        vertical-align: unset;
    }


    /* Styles go here */
    tr:nth-child(even) {
        background-color: white;
    }

    tr:nth-child(odd) {
        background-color: #337ab7;
        color: white;
    }

</style>


<h2>جـمـيـع الـوجـبـات</h2>






<div class="jumbotron" style="width:100%;">
    <p>
        <a class="btn btn-primary" href="@Url.Action("CreateMeal", "Home")">
            <span>إضـافـة وجـبـة</span>
            <i class="fas fa-plus"></i>
        </a>
    </p>

    <p>
        <input type="text" class="form-control" style="max-width: 50%;" id="myInput" onkeyup="myFunction()" placeholder="ابـحـث هـنـا...">
    </p>

    @{ int i = 1;}
    <table id="myTable" class="table" style="text-align:center;">
        <tr style="background-color: #131837; color:white;">
            <th>#</th>
            <th style="padding-top:15px;padding-bottom:15px;">
                @Html.DisplayNameFor(model => model.mealName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mealPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mealCategory.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mealImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.available)
            </th>
            <th>الـحـركـات</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td><span>@(i++)</span></td>
                <td>
                    @Html.DisplayFor(modelItem => item.mealName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mealPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mealCategory.type)
                </td>
                <td>
                    <img src="@Url.Content(item.mealImage)" alt="..." height="50">
                </td>
                <td>
                    @if (item.available == true)
                    {
                        <h4 style="margin-top:0px;"><span class="label label-info">مـتـاح</span></h4>
                    }
                    else
                    {
                        <h4 style="margin-top:0px;"><span class="label label-danger">غـيـر مـتـاح</span></h4>
                    }
                </td>
                <td>
                    <a class="btn btn-success" href="@Url.Action("EditMeal","Home",new {  restaurantId=item.restaurantId,Id=item.Id  })">
                        <span>تـعـديـل</span>
                        <i class="fas fa-edit"></i>

                    </a>
                </td>
            </tr>
        }

    </table>
</div>

<div>
    <a href="/Home/RestaurantPage" class="btn btn-warning">
        <span>خــلــف</span>
        <i class="far fa-hand-point-left"></i>
    </a>
</div>

<script>
    function myFunction()
    {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 1; i < tr.length; i++)
        {
            td = tr[i].getElementsByTagName("td");
            var res = 0;
            for (k = 1; k < td.length-2; k++)
            {
                txtValue = td[k].textContent || td[k].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1)
                {
                    res = 1;
                }
            }
            if (res == 1)
                tr[i].style.display = "";
            else
                tr[i].style.display = "none";

        }
	}
</script>