@model IEnumerable<Ravenous.Models.meal>
@{
    ViewBag.Title = "قـائـمـة الـوجـبـات - صـاحـب الـمـطـعـم";
}

<style>
    th {
        text-align: right;
    }
</style>


<h2>جـمـيـع الـوجـبـات</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("CreateMeal","Home")">
        <span>إضـافـة وجـبـة</span>
        <i class="fas fa-plus"></i>
    </a>
</p>

<table class="table" style="text-align:right;background-color:whitesmoke;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mealName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mealPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mealCategory.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.available)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.mealName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mealPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mealCategory.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.available)
            </td>
            <td>
                <a class="btn btn-success" href="@Url.Action("EditMeal","Home",new {  restaurantId=item.restaurantId,Id=item.Id  })">
                    <span>تـعـديـل</span>
                    <i class="fas fa-edit"></i>
                </a>
            </td>
        </tr>
    }

</table>

<div>
    <a href="/Home/RestaurantPage" class="btn btn-warning">
        <span>خــلــف</span>
        <i class="far fa-hand-point-left"></i>
    </a>
</div>

